.wrapper {
  background: black;
  min-height: 100vh;
}

h1, h2, h3, div, a, p {
  color: whitesmoke;
}

header {
  padding: 1em;
  display: flex;
  height: 5em;
}

.header h1 {
  border-bottom: 1px solid whitesmoke;
}

.buffer {
  flex: 1;
}

nav {
  flex: 1;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}


.index a,
.record a {
  text-decoration: underline;
}

nav a{
  border-bottom: 1px solid yellow;
  display: inline-block;
  font-size: 1.5em;
  color: yellow;
}

nav a:hover {
  color: royalblue;
  border-bottom: 1px solid royalblue;

}
a:hover {
  color: yellow;
}

.title h1 {
  padding-bottom: 0.1em;
  margin-bottom: 0.2em;
  border-bottom: 2px solid white;
  width: max-content;
}


/* --- index styles --- */

.index {
  padding: 1em;
}

.index .paginate ul {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.index .paginate a {
  font-size: 1.25em;
  display: block;
  border: 1px solid whitesmoke;
  padding: 0.5em;
}

.index .paginate a:hover {
  color: yellow;
  background: gray
}

.index .paginate li.current a {
  background: rgb(46, 46, 46);
  font-weight: bold;
}

.index .paginate li.current a:hover {
  background: rgb(46, 46, 46);
  color: whitesmoke
}


/* --- record styles --- */

.record {
  padding: 1em;
}