.*.env
.env
.vscode/*

docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml

**__pycache__
celerybeat-schedule

debug/*
logs/*
logs/app/*
logs/celery/*
logs/celery/schedule/*
logs/celery/schedule/workers/*
application/profile.py

!config/docker/*
!config/env/*
!config/env/overrides/*
!config/env/context/*
