*.env
.vscode/*
**/__pycache__
./pytest_cache/**/**
celerybeat-schedule
celerybeat.pid

.test.py
docker-compose.*
Dockerfile
.dockerignore
compose
scripts
wsgi.sh

application/lib/celery/schedule/schedule.json
!deploy/**/**/**/**/**
!application/tests/docker-compose.pytest.yml
!application/tests/*.env
