.*.env
.env
.vscode/*

wsgi.sh
docker-compose.override.yml
docker-compose.dev.yml
docker-compose.prod.yml
Dockerfile
docker-compose.yml
.dockerignore

**__pycache__
celerybeat-schedule

scripts
compose
compose/**/**/
debug/**/**/
logs/**/**/
application/profile.py
application/lib/celery/schedule/schedule.json

!deploy/***/***/**/**
