[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "==1.1.2"
flask-sqlalchemy = "==2.4.1"
flask-migrate = "==2.5.2"
flask-script = "==2.0.6"
flask-cors = "==3.0.9"
flask-compress = "==1.8.0"

sqlalchemy-utils = "==0.36.8"
marshmallow-sqlalchemy = "==0.24.1"
marshmallow = "==3.9.1"
psycopg2cffi = "==2.8.0"

celery = "===4.4.7"
redis = "==3.5.3"
celery-once = "==3.0.1"
celery-redbeat = "==2.0.0"
flower = "==0.9.5"
grequests = "==0.6.0"
gevent = "==20.9.0"

gunicorn = "==20.0.4"
python-dotenv = "==0.15.0"
python-json-logger = "==2.0.1"
requests = "==2.25.0"
requests-futures = "==1.0.0"
munch = "==2.5.0"
numpy = "==1.19.4"

pytest = "*"
pytest-mock = "*"
freezegun = "*"
faker = "*"

[dev-packages]
pylint = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"

[requires]
python_version = "3.6"

[scripts]
celery_worker = "flask exec celery worker --name $1"