[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pylint = "*"
flask = "*"
python-dotenv = "*"
psycopg2cffi = "==2.8.0"
flask-sqlalchemy = "==2.4.1"
flask-migrate = "==2.5.2"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"
sqlalchemy-utils = "*"
flask-script = "*"
requests = "*"
grequests = "*"
gevent = "*"
requests-futures = "*"
celery = "===4.4.7"
redis = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
flask-compress = "*"
flower = "*"
gunicorn = "*"
python-json-logger = "*"
celery-once = "*"
celery-redbeat = "*"

[requires]
python_version = "3.6"
