[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pylint = "*"
flask = "*"
python-dotenv = "*"
psycopg2 = "*"
flask-sqlalchemy = "===2.4.1"
flask-migrate = "==2.5.2"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"
sqlalchemy-utils = "*"
flask-script = "*"
requests = "*"
grequests = "*"
gevent = "*"
requests-futures = "*"
celery = "*"
redis = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
flask-compress = "*"

[requires]
python_version = "3.7"
