.wrapper {
  background: black;
  min-height: 100vh;
}

h1, h2, h3, div, a, p {
  color: whitesmoke;
}


header .title {
  text-align: center;
  padding: 1em;
}

header .title h1 {
  font-size: 3em;
}


nav {
  padding: 1em;
}

form {
  display: flex;
}

form input {
  margin-left: 1em;
  border-radius: 5px;
  padding-left: 0.5em;
  font-size: 1.25em;
}

nav a:hover {
  color: lightblue;
  border-bottom: 1px solid lightblue;

}
