/* css reset (after postcss normalize) */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --smoke-white: #F5F5F5;
  --slate-black: #282c34;
  --light-grey: rgba(211, 211, 211, 0.75);
  --dark-grey: rgba(211, 211, 211, 0.1);
  --parl-green: #080;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: responsive;
}

a {
  text-decoration: none;
  color: unset;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--slate-black);
  color: var(--smoke-white);
  min-height: 100vh;
  /* min-width: 100vw; */
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.App > .content {
  flex-grow: 1;
  padding: 1rem;
  overflow: auto;
}
