.Chart .container {
  background: whitesmoke;
  height: 50vh;
  min-height: 250px;
  width: 100%;
  overflow: auto;
}


@media only screen and (min-width: 1025px) {
  .Chart .container {
    background: whitesmoke;
    height: 70vh;
    min-height: 500px;
  }
}