.Chart .container {
  background: whitesmoke;
  height: 45vh;
  width: 100%;
}


@media only screen and (min-width: 1025px) {
  .Chart .container {
    background: whitesmoke;
    height: 80vh;
    min-height: max-content;
  }
}