.Chart .container {
  background: whitesmoke;
  height: 50vh;
  width: 100%;
}


@media only screen and (min-width: 1025px) {
  .Chart .container {
    background: whitesmoke;
    height: 70vh;
    /* min-height: max-content; */
  }
}