.GeoNav {
  font-size: 1rem;
}

.GeoNav .search__geo {
  font-size: 1em;
}

.GeoNav .search__geo input {
  width: 100%;
  padding: 0.2em;
  font-size: 1em;
  margin-bottom: 0.5em;
  outline: none;
}

.GeoNav .search__forms {
  display: flex;
  /* margin-top: 1em; */
  justify-content: space-between;
}

.GeoNav .search__forms .search__geo {
  display: block;
  width: 32%;
}

.GeoNav .search__geo .menu   {
  height: 20em;
  overflow: auto;
}

.GeoNav .search__geo header {
  display: flex;
}

.GeoNav .search__geo header .heading {
  flex-grow: 1;
    /* padding: 0.5em; */

}


.GeoNav .search__geo .menu .row {
  cursor: pointer;
  color: black;
  padding: 0.25em;
  background: white;
  display: flex;
}

.GeoNav .search__geo .menu .row.hover {
  background: gray;
}

.GeoNav .search__geo .menu .col {
  flex-grow: 1;
  font-size: 0.75em;
} 


.GeoNav .search__geo .name {
  max-width: 50%;
}

.GeoNav .search__geo .code {
  max-width: 30%;
}

.GeoNav .search__geo .total {
  max-width: 20%;
}
