.GeoNav {
  font-size: 1rem;
}

.GeoNav .search__geo {
  font-size: 1em;
}

.GeoNav .search__geo input {
  width: 100%;
  padding: 0.5em;
  font-size: 1.25em;
  margin-bottom: 1em;
  outline: none;
}

.GeoNav .search__geo .menu__wrapper {
  min-height: 20em;
  /* padding-bottom: 2em; */

  background: var(--parl-green);
}

.GeoNav .search__geo .menu__wrapper .menu {
  max-height: 25em;
}

.GeoNav .search__geo .menu {
  overflow: auto;
  padding: 0.2em;
  background: var(--smoke-white);
}

.GeoNav .search__geo header {
  display: flex;
  background: var(--parl-green);
}

.GeoNav .search__geo header .heading:first-child {
  padding-left: 1.2em;
}

.GeoNav .heading label {
  display: flex;
}

.GeoNav .radio__label label .chevron {
  padding-top: 0.1em;
  padding-left: 0.25em;
}

.GeoNav .radio__label input[type="radio"]:not(:checked) + label .chevron {
  opacity: 0;
}

.GeoNav .radio__label input[type="radio"]:checked + label .chevron {
  opacity: 1;
}

.GeoNav .radio__label input[type="radio"]:checked + label h4 {
  font-weight: 600;
}


.GeoNav .radio__label input[type="radio"] {
  background: none;
  opacity: 0;
  color: var(--smoke-white);
  font-size: 1em;
  position: absolute;
}

.GeoNav .search__geo header .heading {
  flex-grow: 1;
  padding-left: 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-right: 0.25em;
  position: relative;
}

.GeoNav .search__geo header h4 {
  font-weight: 400;
  font-size: 1.2em;
}

.GeoNav .search__geo .heading.total {
  position: relative;
  right: 1.5%;
}


.GeoNav .search__geo .menu .row {
  cursor: pointer;
  color: black;
  padding: 1em 0.5em;
  background: var(--smoke-white);
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.GeoNav .search__geo .menu .row:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.12);

}

.GeoNav .search__geo .menu .row span {
  font-size: 1.1em;
}


.GeoNav .search__geo .menu .row .name {
  margin-left: 0.5em;
}

.GeoNav .search__geo .menu .row.hover {
  background: var(--light-grey);
}

.GeoNav .search__geo .menu .row.unselectable {
  background: darkgray;
  cursor: not-allowed;
}

.GeoNav .search__geo .menu .row.hidden {
  display: none;
}

.GeoNav .search__geo .menu .col {
  flex-grow: 1;
  font-size: 0.75em;
}


.GeoNav .search__geo  .col.name {
  max-width: 50%;
}

.GeoNav .search__geo  .col.code {
  max-width: 25%;
}

.GeoNav .search__geo  .col.total {
  max-width: 25%;
}
