.MainNav {
  min-height: 10vh;
  padding: 0.5rem;
  background: var(--parl-green);
  color: var(--smoke-white);
  font-size: 1rem;
  display: flex;
}

.MainNav .Header {
  margin: auto;
  display: flex;
}

.Logo {
  font-size: 1em;
  width: 1.75em;
  object-fit: contain;
  margin: 0.25em 1.25em;
}

.Logo img {
  object-fit: contain;
  height: auto;
  width: 100%;
}

.MainNav .Header h1 {
  font-size: 1.5em;
  font-weight: 800;
  margin: 0.25em 0em;
}

.MainNav .Header h3 {
  font-size: 1em;
  font-weight: 500;
}

.MainNav .Header h3 span {
  font-size: 0.6em;
}

