.Pagination {
  display: flex;
}

.Pagination ul {
  display: flex;
  font-size: 1rem;
  margin: auto;
}

.Pagination li {
  margin: 0.25em 0.4em;
  color: var(--light-grey);
}

.Pagination a {
  display: block;
  padding: 0.5em 0.75em;
  outline: none;
  cursor: pointer;
}

.Pagination .active {
  color: var(--smoke-white);
  background: rgba(211, 211, 211, 0.1);

}