.PetitionItem {
  font-size: 1rem;
  margin: 1em 0;
  color: var(--smoke-white);
  border: 1px solid var(--light-grey);
}

.PetitionItem .banner {
  display: flex;
  background: var(--parl-green);
  width: 100%;
  justify-content: space-between;
}

.PetitionItem .banner .id {
  padding: 0.25em 0.5em;
}

.PetitionItem .external-link > a {
  text-decoration: none;
  display: block;
  color: var(--light-grey);
  padding: 0.25em 0.5em;
}

.PetitionItem .background {
  margin: 0.25em 0;
  width: calc(90%);
  margin-top: 0.5em;
}

.PetitionItem .background p {
  font-size: 0.75em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.PetitionItem .wrapper { 
  padding: 0.5em;
  border-top: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
}

.PetitionItem .meta {
  display: flex;
  justify-content: space-between;
  color: var(--light-grey);
  font-size: 0.75em;
  margin-top: auto;
  padding-top: 1em;
}

.PetitionItem .meta > div span {
  display: inline-block
}

.PetitionItem .meta > div span:first-child {
  margin-right: 0.5em;
}

.PetitionItem .meta .icon {
  font-size: 1em;
}