/* Petition page */
.Petition {
  width: 95%;
  margin: 0 auto;
  font-size: 1rem;
}

/* --- Petition action (header) --- */
.Petition .action {
  font-size: 1.75rem;
  padding: 1em 0;
  position: relative;
}

.Petition .action .icon {
  font-size: 0.75em;
  color: var(--light-grey);
  position: relative;
  bottom: 0.1em;
}

.Petition .action h1 {
  font-size: 1em;
  font-weight: 400;
}

/* errors */
.Petition .errors {
  margin-bottom: 1em;
}

.Petition .errors h4 {
  font-size: 1.25em;
  color: red;
}

.Petition .errors .icon {
  display: inline-block;
  margin-left: 0.3em;
}

/* --- Petition meta --- */

.Petition .meta {
  font-size: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  margin: 0 auto;
  margin-bottom: 2.5em;
}


.Petition .meta h5 {
  font-size: 1em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5em;
  color: var(--slate-black);
  word-wrap: break-word;
}

.Petition .meta .icon {
  font-size: 0.9em;
  display: inline-block;
  margin-right: 0.3em;

}
.Petition .meta .values .icon {
  margin-left: 0.3em;
  margin-right: 0;
}

.Petition .meta .values {
  text-align: center;
  font-weight: 600;
}

.Petition .meta .flex-child {
  padding: 1em 0;
  border: 1px solid var(--slate-black);
  flex-grow: 1;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  background: var(--parl-green);
}

.Petition .meta .flex-child > div {
  width: max-content;
  margin: 0 auto;
  padding: 1em;
}

.Petition .meta .state {
  flex-grow: 0;
}

/* --- Petition text details --- */
.Petition .text {
  padding: 1em 0
}

.Petition .text .details-toggle {
  margin: 0.25em 0;
  font-size: 0.9em;
}

.Petition .text .details-toggle span {
  display: inline-block;
  color: var(--light-grey);
}

.Petition .text .details-toggle .icon {
  margin-right: 0.5em;
  padding-top: 0.1em;
}



/* --- Response/Progress bars --- */

.signatures-heading {
  display: flex;
  margin-bottom: 1em;
}

.signatures-heading .icon  {
  display: block;
  font-size: 0.8em;
  margin-top: 0.3em;
  margin-right: 0.5em;
}

.Petition .ProgressBar {
  display: flex;
  flex-direction: column;
}

.Petition .ProgressBar .Bar,
.Petition .ProgressBar .container {
  width: 100%;
  height: 0.75em;
}

.Petition .ProgressBar .Bar {
  background: var(--parl-green);
}

.Petition .ProgressBar .container {
  background: var(--light-grey);
}

.ProgressBar .threshold {
  padding: 0.25em 0;
  align-self: flex-end;
  color: var(--light-grey)
}

.Petition .ProgressBar .label {
  padding: 0.25em 0;
}

.Petition .ProgressBar .label__container {
  display: flex;
  align-items: flex-end;
}

.Petition .ProgressBar .label .icon {
  font-size: 1em;
  width: 2em;
  object-fit: contain;
  position: relative;
}

.Petition .ProgressBar .label .icon.portcullis {
  position: relative;
  top: 0.1em;
  width: 1.3em;
  margin: 0 0.5em;
}

.Petition .ProgressBar .label .icon.crown {
  position: relative;
  top: 0.6em;
  width: 2.3em;
}

.Petition .ProgressBar .label .icon img {
  height: auto;
  width: 100%;
}


/* --- Petition Chart  --- */


/* Chart Component */

/* Chart Legend  */
.petition__chart .Chart .legend {
  background: var(--smoke-white);
  color: var(--slate-black);
  font-size: 0.85em;
  padding: 0.25em;
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
  border-top: rgba(211, 211, 211, 0.1);
  border-bottom: 1px solid rgba(211, 211, 211, 0.1);
}

.petition__chart .Chart .legend li {
  display: flex;
  margin: 0.5em;
  align-items: center;
  max-width: 30%;
  flex-basis: 30%;
  border: 1px solid lightgray;
}


.petition__chart .Chart .legend li.expand {
  max-width: 100%;
  flex-basis: 100%;
  flex-grow: 1;
}

.petition__chart .Chart .legend .key {
  background: var(--slate-black);
  padding: 0.5em;
  min-width: 3.75em;
  height: 3em;
  display: inline-block;
  color: black;
  text-align: center;
  display: flex;
}

.petition__chart .Chart .legend .key .code {
  margin: auto;
  font-size: 0.9em;
  font-weight: 600;
  white-space: nowrap; 
  overflow: hidden;
} 

.petition__chart .Chart .legend .key.Total {
  color: white;
}

.petition__chart .Chart .legend .value {
  margin-top: 0.2em;
  margin-left: 0.5em;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.petition__chart .Chart .legend button.delete {
  margin: auto;
  color: red;
  font-size: 1.5em;
  padding: 0.3em 0.5em;
  cursor: pointer;
  border: none;
  background: none;
}
.petition__chart .Chart .legend button.delete:disabled {
  color: gray;
  cursor: not-allowed;
}

.petition__chart .Chart .legend .delete

.petition__chart .Chart .legend li.Total {
  order: -1;
}



.petition__chart .Chart .legend li .count .dash {
  display: inline-block;
  margin: 0 0.5em;
}

.petition__chart .Chart .legend li .count .icon {
  display: inline-block;
  font-size: 0.9em;
  margin-right: 0.25em;
  margin-top: 0.1em;
}

.petition__chart .Chart .legend li .expanded,
.petition__chart .Chart .legend li .count {
  display: none
}

.petition__chart .Chart .legend li.expand .count {
  display: inline-block;
}

.petition__chart .Chart .legend li.expand .value {
  margin-left: 1em;
}

.petition__chart .Chart .legend li.expand .expanded {
  display: flex;
  margin-left: auto;
}


/* Chart banner */
.petition__chart .banner .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.6em;
  background:  var(--light-grey);
  color: var(--slate-black);
}

.petition__chart .banner h3 {
  font-size: 1.25em;
  font-weight: 400;
}

.petition__chart .banner .signatures,
.petition__chart .banner .signatures label {
  display: flex;
  position: relative;
}

.petition__chart .banner .signatures .icon  {
  display: block;
  position: relative;
  color: var(--smoke-white);
}

.petition__chart .banner .signatures .icon-wrapper {
  position: relative;
  font-size: 1em;
  width: 100%;
  height: 100%;

}

.petition__chart .banner .signatures .icon-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--parl-green);
  border-radius: 0.5em;
  padding: 0.35em;
}

.petition__chart .banner input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}


.petition__chart .banner label {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.petition__chart .banner input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}  

.petition__chart .banner input[type="checkbox"]:checked + label  .icon-wrapper{
  background: gray;
}


.petition__chart .banner .refresh {
  display: flex;
  color: var(--parl-green);
  justify-content: flex-end;
}

.petition__chart .banner .refresh .icon {
  color: white;
  padding: 0.4em;
  background: green;
  border-radius: 0.5em;
}

.petition__chart .banner button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  background: none;
}



/* Chart Time Nav */

/* dependency styles */

.Petition .react-date-picker__wrapper,
.Petition .react-date-picker__inputGroup {
  color: var(--slate-black) !important;
  border: none !important;
  font-size: 1.05em;
  font-weight: 400;
}

/* wrappers */
.Petition .chart__time {
  background: darkgray;
}

.Petition .TimeNav > .main {
  display: flex;
  font-size: 1rem;
  padding: 0.2em 0;
}

/* buttons */
.Petition .TimeNav .buttons {
  display: flex;
}

.Petition .TimeNav .chart-btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.75em;
  margin: 0.2em 0.5em;
  display: block;
  font-size: 0.85em;
  padding: 0.5em;
  background: gray;
  color: var(--smoke-white);
}

.Petition .TimeNav .chart-btn.selected,
.Petition .TimeNav .chart-btn.submit {
    background: var(--parl-green);
}

/* quick-select */
.Petition .TimeNav .quick-select {
  height: 100%;
  align-self: flex-start;
}

.Petition .TimeNav #inputQuickSelectForm {
  display: flex;
  align-items: center;
}

.Petition .TimeNav .quick-select .quick-selects-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.Petition .TimeNav .quick-select select {
  display: block;
  border: none;
  outline: none;
  background: none;
  padding: 0.1em;
  font-size: 0.9em;
  color: var(--slate-black);
}

.Petition .TimeNav .quick-select input[type="text"] {
  font-size: 0.8em;
  padding: 0.2em;
  margin-left: 0.5em;
  outline: none;
  border: none;
  width: 4em;
  border-radius: 0.2em;
}

/* presets */
.Petition .TimeNav .presets {
  margin-left: 1em;
  display: none;
}

.Petition .TimeNav .mobile .presets {
  display: block;
  margin-left: 0;
  border-top: 1px solid gray;
  font-size: 1.35em;
}

.Petition .TimeNav .mobile .presets .container {
  padding: 0.25em;
}

.Petition .TimeNav .presets .container {
  display: flex;
  width: max-content;
  margin: 0 auto;
}

.Petition .TimeNav .preset-item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.2em;
  font-size: 0.8em;
}

.Petition .TimeNav .preset-item label {
  display: flex;
  color: var(--slate-black);
  font-size: 1em;
  cursor: pointer;
}
.Petition .TimeNav .preset-item input[type="radio"]:checked + label > h4 {
  font-weight: 600;
  color: var(--parl-green);
}

.Petition .TimeNav .preset-item label h4 {
  color: var(--slate-black);
  font-weight: 400;
}

.Petition .TimeNav .preset-item label h4 span {
  display: inline-block;
}

.Petition .TimeNav .preset-item .pipe {
  color: var(--slate-black);
  display: inline-block;
  margin-left: 0.4em;
}

.Petition .TimeNav .preset-item.All-time .pipe,
.Petition .TimeNav .preset-item.All-time .nbsp {
  display: none;
}

.Petition .TimeNav .preset-item input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}



/* calendar */
.Petition .TimeNav .calendar-picker {
  font-size: 0.9em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.Petition .TimeNav .divider {
  color: var(--slate-black);
  margin: 0 0.4em;
  font-size: 1.2em;
  font-weight: 600;
  margin-right: 0.5em;
}

/* view */
.TimeNav .view.quick {
  margin-right: auto;
}

.TimeNav .view.calendar {
  margin: 0 auto;
}


.TimeNav .view {
  font-size: 1.2em;
}

.TimeNav .view .pipe {
  margin: 0 0.25em;
  color: var(--slate-black);
}


/* Chart GeoNav */
.Petition .nav {
  margin-top: 1em;
}

.Petition #toggleGeographyRadios {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
  height: 5em;
}

.Petition #toggleGeographyRadios .radio-wrapper {
  flex-grow: 1;
  
}

.Petition #toggleGeographyRadios .radio-wrapper label {
  display: flex;
  text-align: center;

}

.Petition #toggleGeographyRadios .radio-wrapper label h5 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 400;
  padding-bottom: 0.1em;
  margin: 0 auto;
  color: var(--light-grey);
}


.Petition #toggleGeographyRadios input[type="radio"]:checked + label h5 {
  border-bottom: 2px solid var(--smoke-white);
  color: var(--smoke-white);
  font-weight: 600;
}

.Petition #toggleGeographyRadios input[type="radio"] {
  background: none;
  position: absolute;
  opacity: 0;
  color: var(--smoke-white);
  font-size: 1em;
}



/* --- Media Queries --- */
@media only screen and (min-width: 1050px) {
  .Petition {
    width: 85%;
  }

  .Petition .meta .flex-child {
    flex-grow: 1;
  }

  .signatures-heading {
    margin-bottom: 0;
  }

  .Petition .TimeNav .mobile .presets {
    display: none;
  }

  .Petition .TimeNav .view.all {
    margin: 0 auto;
  }

  .Petition .TimeNav .presets {
    display: block;
  }

  .Petition .meta {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .Petition .meta .state {
    order: 1
  }

  .petition__chart .Chart .legend li {
    max-width: 22.5%;
    flex-basis: 22.5%;
  }

}

@media only screen and (min-width: 1650px) {
  .Petition {
    width: 75%;
  }
}