<!DOCTYPE html>
<html lang="en">

  <head>
    <title>UK Petition Tracker</title>
    <link rel="stylesheet" href="{{ url_for('pages_bp.static', filename='css/index.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="title">
          <h1 class="logo">UK Petition Tracker App</h1>
        </div>
      </header>

      <nav>
        <div class="remote">
          <h3><a href="{{ url_for('tracker_bp.fetch_remote_list') }}">Get remote List --></a></h3>
          <form action="{{ url_for('tracker_bp.fetch_remote_petition') }}"> 
            <label for="remote_id"><h3>Get remote petition:</h3></label>
            <input type="text" id="remote_id" name="id" placeholder="ID"><br>
          </form>
        </div>
        <br>
        <div class="local">
            <h3><a href="{{ url_for('tracker_bp.get_local_list') }}">Get local List --></a></h3>
            <form action="{{ url_for('tracker_bp.get_local_petition') }}"> 
            <label for="local_id"><h3>Get local petition:</h3></label>
            <input type="text" id="local_id" name="local_id" placeholder="ID"><br>
          </form>
        </div>

      </nav>
    
      {% block content %}
      
      {% endblock %}
    </div>
  </body>
</html>