<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Flask App</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}

    {% endblock %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav>
          <div class="home">
            <a href="{{ url_for('pages_bp.site_index') }}">Home</a>
          </div>
        </nav>
        <div class="title">
          <h1 class="logo">UK Petition Tracker App</h1>
        </div>
        <div class="buffer"></div>
      </header>
      
        {% block content %}
        
        {% endblock %}
    </div>
  </body>
</html>