:root {
  --nav-height:  calc(4rem + 1vh);
  --content-height: calc(100vh - var(--nav-height))
}

/* css reset-lite */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,h2,h3,h4,p,span {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
}

h1,h2,h3 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 2em;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Barlow', sans-serif;
}

a {
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
}

/* setup for 10px == 1rem */

html {
  font-size: 62.5%;
}

p {
  font-family: 'Barlow', sans-serif;
  /* font-weight: 400; */
}

body {
  font-size: 1.6rem;
}

/* -------------------- */

/* site wide  body and container setup */

body {
  box-sizing: border-box;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}