{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('tracker_bp.static', filename='css/tracker.css' ) }}">
{% endblock %}


{% block content %}

<div class="petition">
  {% if petition %}
    <div class="title">
      <h2>Petition - {{ petition['data']['id'] }}</h2>
      <h3>Action: {{ petition['data']['attributes']['action'] }}</h3>
      {% set petition_link = url.split(".json")[0] %}

      <a href="{{petition_link}}">
        <h3>RemotePetition Link</h3>
      </a>
      <h3>URL: {{url}}</h3>


    </div>
    <div></div>
    <div class="data">
      <h3>Attributes:</h3>
      <div>
        <ul>
          {% for key, value in petition['data']['attributes'].items() %}
          <li>- <b>{{ key }}</b>: {{ value }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
  {% elif error == 404 %}
    <h2>Unable to locate petition ID: {{ id }}</h2>
    <h3>HTTP response - {{ error }}</h3>
  {% else %}
    <h2>A server error occured while trying to locate petition ID: {{ id }}</h2>
    <h3>HTTP response - {{ error }}</h3>
  {% endif %}
</div>

{% endblock %}