{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('tracker_bp.static', filename='css/remote/tracker.css' ) }}">
{% endblock %}


{% block content %}
<div class="index">
  <div class="page-header">
    <div class="title">
      <h1>Remote Petitions:</h1>
    </div>
    <div class="request">
      <h3>URL: {{ url }}</h3>
    </div>

    <div class="select-state">
      <form action="{{ url_for('tracker_bp.fetch_remote_list') }}" onchange="document.petitionStateForm.submit()" method="get" name="petitionStateForm" id="petitionStateForm">
        <select class="select-style" name="state" id="state">
          {% for state in states %}
            {% if state == selected_state %}
              <option value="{{state}}" selected>{{ state }}</option>
            {% else %}
              <option value="{{state}}">{{ state }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </form>
    </div>
  </div>

  <div class="content">
  {% if petitions %}
    <ul class="petitions">
      {% for petition in petitions %}
        <li>
          <ul class="item">
            <li><b>ID: </b>{{ petition['id'] }}</li>
            <li><b>Action: </b>{{ petition['attributes']['action'] }}</li>
            <li><b>State: </b>{{ petition['attributes']['state'] }}</li>
            <li><b>Created at: </b>{{ petition['attributes']['created_at' ]}}</li>
            <li><b>Signatures: </b>{{ petition['attributes']['signature_count'] }}</li>
            <li><b>Background: </b>{{ petition['attributes']['background'] }}</li>
            <li class="detail">
              <a href="{{ petition['links']['self'] }}">
                <b>View JSON</b>
              </a>
            </li>

            <li class="detail">
              {% set petition_link = petition['links']['self'].split(".json")[0] %}

              <a href="{{petition_link}}">
                <b>RemotePetition Link</b>
              </a>
            </li>
            <li class="detail">
              <a href="{{ url_for('tracker_bp.fetch_remote_petition', remote_id=petition['id'])  }}">
                <b>Local Link</b>
              </a>
            </li>
          </ul>
        </li>
      {% endfor %}
    </ul>

    <div class="paginate">
      <ul>
        {% for n in range(*paginate['range']) %}
          {% if n == paginate['current'] %}
            <li class="current">
              <a href="{{ url_for('tracker_bp.fetch_remote_list', state=selected_state, index=n) }}">
                {{n}}
              </a>        
            </li>
          {% else %}
            <li>
              <a href="{{ url_for('tracker_bp.fetch_remote_list', state=selected_state, index=n,) }}">
                {{n}}
              </a>        
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    {% elif error %}
    <h2>An error occured while trying to retrieve petitions</h2>
    <h3>HTTP response - {{ error }}</h3>
  {% else %}
    <h2>No petitions found</h2>
  {% endif %}
  </div>
</div>
{% endblock %}