.App {
  background-color: #282c34;
  color: #F5F5F5;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content {
  flex-grow: 1;
  padding: 1em;
}

.Flask-Status {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

