{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('tracker_bp.static', filename='css/local/record.css' ) }}">
{% endblock %}

{% block content %}
<div class="record">
  <div class="page-header">
    <div class="title">
      <h1><b>Record View</b></h1>
      <h2>
        <a href="{{ url_for('tracker_bp.get_record_list', petition_id=petition.id)  }}">
          View all records for this petition -->
        </a>
      </h2>
    </div>

    <br>
    <br>

    <div class="title">
      <h1><b>Petition ID:</b>  {{ petition.id }}</h1>
      <h2><b>Petition Action:</b> {{ petition.action }}</h2>
      <h2><b>Current Signatures:</b> {{ petition.signatures }}</h2>
      <h2 class="detail">
        <a href="{{ url_for('tracker_bp.get_local_petition', local_id=petition.id)  }}">
          <b>Petition Detail</b>
        </a>
      </h2>
    </div>

    <br>

    <br>

    <div class="title">
      <h1><b>Record ID:</b> {{ record.id }}</h1>
      <h2><b>Timestamp:</b> {{ record.timestamp.strftime("%m/%d/%Y, %H:%M:%S") }}</h2>
      <h2><b>Signatures:</b> {{ record.signatures }}</h2>
    </div>
  </div>

  <br>
  <br>

  <div class="geographies">
    <h1>Signatures By Geography</h1>
    <h2>
      <a href="{{ url_for('tracker_bp.get_signatures_by', petition_id=petition.id, record_id=record.id, geography='constituency')  }}">
        <b>- Constituency</b>
      </a>
    </h2>
    <h2>
      <a href="{{ url_for('tracker_bp.get_signatures_by', petition_id=petition.id, record_id=record.id, geography='country')  }}">
        <b>- Country</b>
      </a>
    </h2>
    <h2>
      <a href="{{ url_for('tracker_bp.get_signatures_by', petition_id=petition.id, record_id=record.id, geography='region')  }}">
        <b>- Region</b>
      </a>
    </h2>
  </div>

</div>
{% endblock %}